body{
    width: 100%;
    background: linear-gradient(135deg,#D2E9FF,	#FFF8D7,#F1E1FF);
    height: 100%;
}
*{
    font-family: 'Kosugi Maru', sans-serif;
}
/* media query */
@media screen and (max-width: 767px) {
    #news_btn{
        position: absolute;
        left: -9999px;
      }
    .nav-items:not(:first-child){
        display: none;
    }
    
    #nav-logo{
        position: relative;
        left: -48%;
        top:0;
        transform: translate(48%,0%);
        padding-left: 20px;
        text-align: left;
    }
    .menu_icon{
        position: absolute;
        top:60%;
        left:93%;
        transform: translate(-60%,-93%);
    }
    .cart{
        position: absolute;
        top:60%;
        left:85%;
        transform: translate(-60%,-93%);
    }
}
@media screen and (min-width:768px) {
    .menu_icon{
        position: absolute;
        visibility: hidden;
    } 
    #show_menu_overlay{
        position: absolute;
        visibility: hidden;
    }
}

.menu_icon{
    color: brown;
    cursor: pointer;
}
.nav-items{
    text-align: center;
    cursor: pointer;
    color: darkgrey;
    align-items: baseline;
    margin: 10px;
}
.nav-items:hover{
    color: brown;
}
.logo{
    font-weight: 600;
    font-size: 22px;
}
#nav-logo{
    cursor: pointer;
    align-items: baseline;
    margin: 10px;
    color: brown;
    padding-left: 20px;
    padding-right: 20px;
}
#logo_eng_name{
    font-family: 'Yomogi', cursive; 
    font-weight: 600;
    font-size: 18px;
}
.item{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.item-eng{
    font-family: 'Yomogi', cursive; 
}
.top-nav{
    background:snow;
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center; /*使導覽列上的每個item，靠中間對齊*/
    position: relative;
}
#about_us{
    text-align: center;
    padding: 85px 20px;
}
.title{
    font-size: 50px;
    color: brown;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

/* overlay */
#show_menu_overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(227, 236, 225, 0.9);
    z-index: 2;
    cursor: pointer;
}
.overlay_menu{
    margin: 100px auto 20px;
    color: darkolivegreen;
}
.overlay_menu_item:hover{
    color: brown;
}
.overlay_menu_item{
    padding-bottom: 15px;
    font-family: 'Poiret One','Kosugi Maru';
}
#menu-top{
    text-align: center;
    background:linear-gradient(135deg,#ACD6FF,#FFF4C1,#E6CAFF);
    padding: 20px;
    border-bottom: 1px solid brown;
    width: 300px;
}
.menu{
    padding: 25px;
    text-align: center;
    position: fixed;
    width: 300px;
}
#content{
    padding-top: 100px;
}
#menu-items{
    background: snow;
    height: 350px;
    width: 300px;
    text-align: center;
    padding: 20px 15px;
}
.menu-item{
    font-size: 20px;
    cursor: pointer;
    width: 170px;
    height: 45px;
    vertical-align: middle;
    margin: auto;
}
.menu_title{
    padding-top: 70px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    color: brown;
}
button{
    background: linear-gradient(135deg,#ACD6FF,#FFF4C1,#E6CAFF);
    border: none;
    color: black;
}
button:hover{
    background: rgba(227, 236, 225, 0.9);
    color: darkgreen;
}
.dessert{
    padding-bottom: 20px;
    background: snow;
    padding: 15px;
    margin-bottom: 20px;
    flex: 1;
    margin: 10px;
}
.dessert img{
    width: 100%;
}
.dessert_title{
    font-size: 20px;
    color: brown;
    padding-top: 10px;
}
.warn{
    font-size: 500;
    color: red;
    background: transparent;
    width: 100%;
    cursor: default;
}
.warn:hover{
    background: transparent;
}
.col-sm-3{
    display: flex;
}
.count{
    background-color: #F1E1FF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: darkmagenta;
    text-align: center;
    font-size: 13px;

}

/* 加入購物籃 */
.cart{
    display: flex;
    justify-items: center;
    align-items: center;
    color: gainsboro;
}
.cart:hover{
    color: brown;
    cursor: pointer;
}

/* footer */
footer{
    background-color: snow;
    padding: 15px;
    text-align: center;
}

/* dessert_menu */
.dessert_menu_layout{
    width: 100%;
    max-width: 180px;
    text-align: center;
    position: fixed;
    left: 30px;
    top: 20%;
    margin: 10px auto;
    background-color: snow;
    border-radius: 15px;
}
.dessert_menu_btn{
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 35px;
    margin: 20px auto;
    font-size: 18px;
}
.dessert_menu_btn:hover{
    border-left: 3px dashed #D2E9FF;
    border-right: 3px dashed #F1E1FF;
    
}
.dessert_menu_title{
    padding: 15px;
    text-align: center;
    font-size: 20px;
    background-color: brown;
    color: snow;
    border-radius: 15px 15px 0 0 ;
}
#section_newest{
    padding-top: 100px;
}
/* #section_popular{
    padding-top: 100px;
}
#section_tart{
    padding-top: 100px;
}
#section_cake{
    padding-top: 100px;
}
#section_drink{
    padding-top: 100px;
}
#section_other{
    padding-top: 100px;
} */

.dessert_content{
    padding-left: 200px;
}
.container{
    display: grid;
}
.dessert_item{
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.dessert_layout{
    padding: 10px;
    margin: 0px auto;
}